<footer class="bg-gray-100 border-t border-gray-200">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mb-2">Compagnie</span>
                    <span class="mb-2"><a href="<%= options.base_url %>a-propos" class="text-gray-700 text-md hover:text-gray-600">A propos</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>pourquoi-luqa" class="text-gray-700 text-md hover:text-gray-600">Pourquoi ce cours ?</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>enseignant" class="text-gray-700 text-md hover:text-gray-600">Enseignant</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>ecole" class="text-gray-700 text-md hover:text-gray-600">École</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>etudiant" class="text-gray-700 text-md hover:text-gray-600">Étudiant</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Fonctionalités</span>
                    <span class="mb-2"><a href="<%= options.base_url %>classes" class="text-gray-700 text-md hover:text-gray-600">cours connecté</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>badges" class="text-gray-700 text-md hover:text-gray-600">Badges</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>ambassadeur" class="text-gray-700 text-md hover:text-gray-600">Ambassadeur</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Communauté</span>
                    <span class="mb-2"><a href="<%= options.base_url %>blog" class="text-gray-700 text-md hover:text-gray-600">Blog</a></span>
                    <span class="mb-2"><a href="<%= options.base_url %>aide" class="text-gray-700 text-md hover:text-gray-600">Centre d'aide</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-gray-700 uppercase mt-é md:mt-0 mb-2">Nous suivre</span>
                    <span class="mb-2"><a href="https://github.com" target="blank" class="text-gray-700 text-md hover:text-gray-600">Github</a></span>
                    <span class="mb-2"><a href="https://twitter.com" target="blank" class="text-gray-700 text-md hover:text-gray-600">Twitter</a></span>
                    <span class="mb-2"><a href="https://www.facebook.com" target="blank" class="text-gray-700 text-md hover:text-gray-600">Facebook</a></span>
                    <span class="mb-2"><a href="https://www.instagram.com" target="blank" class="text-gray-700 text-md hover:text-gray-600">Instagram</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-16 border-t-2 border-gray-200 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-gray-600 font-bold mb-2">© <%= new Date().getFullYear(); %>  Luqa</p>
            </div>
        </div>
    </div>
</footer>