<%- include('../../../components/admin_header'); -%>

<nav class="bg-gray-800 px-6 mx-auto lg:px-24">
    <div class="flex items-center justify-between h-16">
        <div class="flex items-center justify-between flex-grow">
            <div class="flex-shrink-0 inline-flex">
                <div class="flex items-center">
                    <a href="<%= options.base_url %>admin/courses" class="text-sm flex flex-row font-medium <% if (options.current_subpage == 'courses') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Liste des cours</a>
                    <a href="<%= options.base_url %>admin/courses/create" class="text-sm ml-4 flex flex-row font-medium <% if (options.current_subpage == 'create_course') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Créer un cours</a>
                    <a href="<%= options.base_url %>admin/courses/category" class="text-sm ml-4 flex flex-row font-medium <% if (options.current_subpage == 'category') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Liste des catégories</a>
                    <a href="<%= options.base_url %>admin/courses/category/create" class="text-sm ml-4 flex flex-row font-medium <% if (options.current_subpage == 'create_category') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Créer une catégorie</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div>
    <form method="post">
        <div class="flex flex-wrap px-6 lg:px-24 mt-12"> 

            <div class="w-full lg:w-3/4 px-4 mb-6">
                <div class="bg-white border-t border-b sm:rounded border min-h-screen">
                    
                    <div class="border-b">
                        <div class="flex justify-between px-6 -mb-px">
                            <div class="py-2 flex items-center">
                                <label for="title" class="pr-4 text-sm text-gray-700">Titre du cours</label>
                                <input placeholder="Javascript" type="text" name="title" id="title" class="appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required>
                            </div>
                        </div>
                    </div>

                    <div class="w-full">
                        <div class="p-2">
                            <textarea placeholder="Contenu du cours" name="content" id="content" class="markdown-editor appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full lg:w-1/4 px-4 mb-6">
                <div class="bg-white border-t border-b sm:rounded border min-h-screen">

                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col">
                            <label for="url" class="px-1 text-sm text-gray-700">URL</label>
                            <input placeholder="url-vers-le-cours" type="text" name="url" id="url" class="appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required>
                        </div>
                    </div>

                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col">
                            <label for="category" class="px-1 text-sm text-gray-700">Catégorie</label>
                            <select name="category" id="category" class="font-sans appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required>
                                <option disabled>Choisir une catégorie</option>
                                <% data.category.category.forEach(function(cat) { %>
                                    <option value="<%= cat.id %>"><%= cat.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>

                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col">
                            <label for="description" class="px-1 text-sm text-gray-700">Description</label>
                            <textarea placeholder="Petite description" name="description" id="description" class="h-32 appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required></textarea>
                        </div>
                    </div>

                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col">
                            <label for="read_duration" class="px-1 text-sm text-gray-700">Temps de lecture (en min)</label>
                            <input placeholder="300" type="number" min="0" name="read_duration" id="read_duration" class="appearance-none bg-grey-lighter text-grey-darker border border-red rounded py-2 px-3 focus:border-gray-600" required>
                        </div>
                    </div>

                    <div class="px-6 -mb-px">
                        <div class="py-2 flex flex-col">
                            <button class="font-sans mt-3 font-semibold bg-primary-500 w-auto text-white rounded-lg px-3 py-2 hover:bg-primary-600" name="create_course">Créer</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>