<%- include('../../../components/admin_header'); -%>

<nav class="bg-gray-800 px-6 mx-auto lg:px-24">
    <div class="flex items-center justify-between h-16">
        <div class="flex items-center justify-between flex-grow">
            <div class="flex-shrink-0 inline-flex">
                <div class="flex items-center">
                    <a href="<%= options.base_url %>admin/courses" class="text-sm flex flex-row font-medium <% if (options.current_subpage == 'courses') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Liste des cours</a>
                    <a href="<%= options.base_url %>admin/courses/create" class="text-sm ml-4 flex flex-row font-medium <% if (options.current_subpage == 'create_course') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Créer un cours</a>
                    <a href="<%= options.base_url %>admin/courses/category" class="text-sm ml-4 flex flex-row font-medium <% if (options.current_subpage == 'category') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Liste des catégories</a>
                    <a href="<%= options.base_url %>admin/courses/category/create" class="text-sm ml-4 flex flex-row font-medium <% if (options.current_subpage == 'create_category') { %> text-primary-400 <% }else{ %> text-gray-100 <% } %>">Créer une catégorie</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="flex flex-col px-6 lg:px-24 mt-12">
    <table class="display datatables">
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>date_created</th>
                <th>date_published</th>
                <th>date_modified</th>
                <th>category</th>
                <th>writers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% data.courses.courses.forEach(function(course) { %>
                <tr>
                    <td><%= course.id %></td>
                    <td><%= course.name %></td>
                    <td><%= moment(course.date_created).format("MMM Do YY") %></td>
                    <td><%= moment(course.date_published).format("MMM Do YY") %></td>
                    <td><%= moment(course.date_modified).format("MMM Do YY") %></td>
                    <td><%= course.category.name %></td>
                    <td>
                        <% course.writers.forEach(function(writer) { %> 
                            <%= writer.username %>
                        <% }); %>
                    </td>
                    <td>actions</td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>